/* main color #49BCE7 */

html {
    margin: 0px;
    padding: 0px;
    background: black;
}
body {
    margin: 0px;
    padding: 0px;
    background: black url(background.svg) repeat;
    background-size: 100px 100px;
}
div, button, input {
    color: white;
    font-family: monospace;
}

#notFooter {
    min-height: calc(100vh - 90px); /* footer heigth + 20 */
}
#header {
    overflow: auto;
}
#header div {
    float: left;
}
#headerLogo {
    display: block;
    margin: 10px;
    cursor: pointer;
}
#headerLogo:hover {
    opacity: 0.8;
}
#header button {
    display: block;
    margin: 22px 20px;
    border: none;
    padding: 10px;
    background: none;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
}
#header button:hover {
    color: #49BCE7;
}
#header button.active {
    color: #49BCE7;
}
#main a {
    color: #49BCE7;
    text-decoration: none;
}
#main a:hover {
    color: white;
}
#message {
    height: 64px;
    padding-top: 16px;
    text-align: center;
}
#notSupported, #switchNetwork {
    color: red;
    display: none;
}
h1 {
    margin: 5px;
    font-weight: normal;
    text-align: center;
}
#halfContainer::after {
    content: "";
    clear: both;
    display: table;
}
.box {
    position: relative; /* for the bottom button */
    height: 360px;
    margin: 0px 5% 32px;
    border: 1px solid #49BCE7;
    border-radius: 5px;
}
.boxHeader {
    border-bottom: 1px solid #49BCE7;
}
.boxHeader::after {
    content: "";
    clear: both;
    display: table;
}
.boxHeaderItem {
    float: left;
    width: 50%;
}
.boxHeaderItem button {
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    background: none;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
}
#buyButton {
    border-top-left-radius: 3px;
}
#sellButton {
    border-top-right-radius: 3px;
}
.boxHeaderItem button:hover {
    background: #49BCE7;
    color: black;
}
.boxHeaderItem button.active {
    background: #49BCE7;
    color: black;
}
#balanceContainer {
    margin: 12px 5%;
}
label {
    display: block;
    margin: 38px 5%;
    cursor: text;
}
.hint {
    color: red;
    font-size: 10px;
}
label input {
    display: block;
    width: 100%;
    margin-top: 8px;
    border: none;
    border-bottom: 2px solid white;
    outline: 0;
    background: none;
    font-size: 16px;
}
label input:hover {
    border-color: #49BCE7;
}
label input:focus {
    border-color: #49BCE7;
}
#exchangeButton {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #49BCE7;
    color: black;
    outline: 0;
    font-size: 18px;
    cursor: pointer;  
}
#exchangeButton:hover {
    background: white;
}
#price {
    width: 100%;
    height: 360px;
}
#logs {
    margin: 20px;
}
.onestring {
    overflow: hidden;
    text-overflow: ellipsis;
}
#faq, #bounty {
    display: none;
}
h2 {
    font-weight: normal;
}
ul {
    padding: 20px;
}
li {
    margin-bottom: 32px;
    list-style-type: none;
    padding: 0px;
}
.line {
    position: relative;
    top: -16px;
    left: 16px;
    width: 4px;
    height: 32px;
    background: #49BCE7;
}
#footer {
    overflow: auto;
}
#footer div {
    float: right;
}
#footer a {
    display: block;
    margin: 20px 10px;
    padding: 5px;
    outline: none;
    color: white;
    text-decoration: none;
}
#footer a:hover {
    color: #49BCE7;
}

@media print, screen and (min-width: 1100px) {
    #header, #main, #footer {
        margin: 0px auto;
        width: 1000px;
    }
}
@media print, screen and (min-width: 800px) {
    .half {
        float: left;
        width: 50%;
    }
}
