/* color #49BCE7 rgb(73, 188, 231) */

html {
    margin: 0px;
    padding: 0px;
    background: black;
}
body {
    margin: 0px;
    padding: 0px;
    background: black url(background.svg) repeat;
    background-size: 100px 100px;
}
div, button, input {
    color: white;
    font-family: monospace;
}
button {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: 0;
}
a {
    color: #49BCE7;
    text-decoration: none;
    outline: 0;
}
a:focus {
    text-decoration: underline;
}
h1, h2, h3 {
    font-weight: normal;
}
#noFooter {
    overflow: hidden;
    min-height: calc(100vh - 96px);
}
#header {
    overflow: hidden;
}
#header div {
    float: left;
}
#headerMain {
    margin: 10px;
    width: 64px;
    height: 64px;
    padding: 0px;
    background: url(logo.svg) center/contain no-repeat;
    opacity: 0.999;
}
#headerMain:focus {
    opacity: 0.3;
}
#headerBounty, #headerPartners {
    margin: 22px 2px;
    padding: 10px;
    font-size: 18px;
}
#header button:focus {
    text-decoration: underline;
}
#header .active {
    color: #49BCE7;
}
#main, #bounty, #partners {
    margin: 0px auto 32px;
    max-width: 1000px;
}
h1 {
    text-align: center;
}
#startMessage {
    min-height: 64px;
    text-align: center;
}
.halfContainer {
    overflow: hidden;
}
.box {
    position: relative;
    margin: 0px auto 32px;
    border: 1px solid #49BCE7;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    height: 360px;
}
#boxHeader {
    overflow: hidden;
    border-bottom: 1px solid #49BCE7;
}
#boxHeader div {
    float: left;
    width: 50%;
}
.box button {
    width: 100%;
    height: 48px;
    font-size: 20px;
}
.box button:focus {
    background: rgba(73, 188, 231, 0.3) !important;
    color: black;
}
.box .active {
    background: #49BCE7;
    color: black;
}
#buyButton {
    border-top-left-radius: 3px;
}
#sellButton {
    border-top-right-radius: 3px;
}
#balanceContainer {
    margin: 32px 16px;
}
label {
    display: block;
    margin: 40px 16px;
    cursor: text;
}
.hint {
    padding-left: 10px;
    font-size: 10px;
    color: red;
}
label input {
    display: block;
    margin-top: 8px;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    background: none;
    font-size: 16px;
    outline: 0;
}
label input:focus {
    border-color: #49BCE7;
}
#exchangeButton {
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #49BCE7;
    color: black;
}
#price {
    width: 100%;
    height: 360px;
}
#logs {
    margin-bottom: 80px;
}
#logs p, #faq p {
    margin: 16px;
}
.onestring {
    overflow: hidden;
    text-overflow: ellipsis;
}
#faq h2 {
    margin: 32px 32px 0px;
}
#bounty, #partners {
    display: none;
}
#bounty h3 {
    margin: 45px;
}
#bounty p {
    margin: 16px;
}
.line {
    position: relative;
    left: 45px;
    width: 4px;
    height: 32px;
    background: #49BCE7;
}
#partners div {
    overflow: hidden;
    margin: 32px 16px;
}
#partners img {
    float: left;
    width: 128px;
}
#partners p {
    margin: 32px 0px 0px 160px;
}
#footer {
    overflow: hidden;
    height: 96px;
}
#footer div {
    float: right;
}
#footer a {
    display: block;
    margin: 32px 8px;
    padding: 4px;
    font-size: 14px;
}
#loading {
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: wait;
    animation: fade 1s forwards;
}
#loading div {
    margin: auto;
    margin-top: 30vh;
    width: 120px;
    height: 120px;
    background: url(logo.svg) center/contain no-repeat;
    opacity: 0.999;
    animation: appear 1s forwards, rotate 2s linear 1s infinite;
}

@media print, screen and (min-width: 800px) {
    #headerBounty, #headerPartners {
        margin-left: 32px;
    }
    .half {
        float: left;
        width: 50%;
    }
    #footer a {
        margin-right: 32px;
    }
}

@media (hover: hover) {
    a:hover {
        color: white;
    }
    #headerMain:hover {
        opacity: 0.7;
    }
    #header button:hover {
        color: #49BCE7;
    }
    .box button:hover {
        background: rgba(73, 188, 231, 0.7) !important;
        color: black;
    }
    label input:hover {
        border-color: #49BCE7;
    }
}

@keyframes fade {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    30% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.8);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0.999;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(40deg);
    }
    60% {
        transform: rotate(45deg);
    }
    90% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(360deg);
    }
}